// * {
//   margin: 0;
//   padding: 0;
// }
body{
  margin: 0;
  padding: 0;
  height:100vh;
  width:100vw;
  // background-color: red;
}
.container{
  height:100vh;
  width:100vw;
  display:grid;
  grid-template-rows: 1fr 9fr 1fr;
}

@import './_header.scss';
@import './body';
@import './footer';