.content{
  background-color: yellow;
  display: flex;
  flex-direction: row;
  .contentContainer{
    background-color: orange;
    flex:1;
  }
  .imgContainer{
    // background-color: burlywood;
    display:flex;
    flex:1;
    justify-content: center;
    place-items: center;
    img{
      height:50%;
      width:50%;
      border-radius: 25%;
    }
  }
}