.content{
  font-size: 2vh;
  // color:yellow;
  // background-color: blue;
  display: flex;
  flex-direction: row;
  color:white;
  .contentContainer{
    flex:1;
    background-color: transparentize($color:rgba(102, 128, 105, 0.4), $amount: 0.2);
  }
  .imgContainer{
    flex:4;
    // background-color: rgb(212, 212, 95);
  }
}