* {
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width:100vw;
  // background-color: black;
}

.container{
  height: 100vh !important;
  width: 100% !important;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  overflow: hidden;
  background-color: black;
  // background-image:linear-gradient(rgba(53, 51, 51, 0.719), rgba(255,255,255,.2)), url(../assert/Food.jpg);
  // background-repeat: no-repeat;
  // background-size:cover;
  // opacity:0.1;
}
@import './header.scss';
@import './body';
@import './footer';