* {
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  width:100vw;
}

.container{
  height: 100vh !important;
  width: 100% !important;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr;
  overflow: hidden;
  background-image:linear-gradient(rgba(248, 193, 193, 0.719), rgba(255,255,255,.8)), url(../Image/foodHome.jpg);
  // opacity:0.1;
}
@import './header.scss';
@import './body';
@import './footer';