.navbar{
  margin:2vh 0 0 0 ;
  // background-color:black ;
  .header{
  //  background-color: transparent;
  // background-color: rgba(255, 0, 0, 0.4);
  background-color: transparentize($color: rgba(255, 0, 0, 0.4), $amount: 0.2);
  width:100%;
  height:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  color: white;
  .heading{
    display:flex;
    flex:1;
    justify-content: center;
    font-size:5vh;
    margin-left: 2vh;
    font-family: 'Shippori Antique B1', sans-serif;
  }
  .container-list{
    ul{
      list-style-type: none;
      display:flex;
      text-align: center;
      justify-content: flex-end;
      font-size: 3vh;
      li{
        margin:0 2vh 0 2vh;
      }
    }
  }
}
}