@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique+B1&display=swap');
.navbar{
  margin:2vh 0 0 0 ;
  // background-color:black ;
  .header{
  //  background-color: transparent;
  // background-color: rgba(255, 0, 0, 0.4);
  background-color: transparentize($color: rgba(255, 0, 0, 0.4), $amount: 0.2);
  width:100%;
  height:100%;
  display:flex;
  flex-direction: row;
  align-items: center;
  color: white;
  .heading{
    display:flex;
    flex:1;
    justify-content: center;
    font-size:4vmax;
    margin-left: 2vh;
    font-family: 'Josefin Sans', sans-serif, 'Lobster', cursive;
    // font-family: 'Lobster', cursive;
    }
  .container-list{
      ul{
      list-style-type: none;
      display:flex;
      text-align: center;
      align-items: center;
      justify-content: flex-end;
      font-size: 3vh;
      li{
        margin:0 2vh 0 2vh;
        opacity: 0.7;
        cursor: pointer;
      }
      span{
        display:flex;
      }
    }
  
    span{
      // color:white;
      display: none;
    }
  }
}
}
li:hover{
  color:rgb(247, 211, 158);
  transform: scale(1.1);
  transition: 0.3s;
}
@media screen and (max-width: 768px) {
  .menu{
    display:none;
    margin: 0;
    ul{
        display: flex;
        position: fixed;
        top:80px;
        border-width: 1vh;
        border-color:transparentize($color: rgba(255, 0, 0, 0.4), $amount: 0.2) ;
        margin-left:50%;
        width:50%;
        left:0;
        color:white;
        background-color: transparentize($color: rgba(255, 0, 0, 0.4), $amount: 0.2);
        flex-direction: column;
        border-bottom-left-radius:2vh ;
      }
      li{
        // justify-content: flex-start !important;
        margin: 1vh !important;
      //  border-bottom-color: grey !important;
      }
    }
 
 .container-list span{
    display:flex !important;
    // justify-items: end;
    margin:0 2vh 0 0;
    .divMenuContainer{
      color:red;
    }
    // color:red;
  }
}
// @media only screen and (min-width: 992px) {
//   ul{
//     display: none;
//     // color:red;
//   }
  
// }